#edity-toolbar {
	background: #aaa;
	box-sizing: border-box;
	opacity: .9;
	padding: 10px;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
}

#edity-toolbar button {
	background: white;
	border: none;
	font: inherit;
	margin-right: 5px;
	padding: 5px 10px;
}

#edity-save-button {
	background: black !important;
	color: white !important;
	float: right;
	margin-right: 0;
}