body {
	background: #f8f8f8;
	margin: 0;
	width: 200px;
}

#edity-header {
	background: #f2f2f2;
	cursor: pointer;
	padding: 10px;
}
#edity-header img {
	float: left;
	margin-right: 5px;
	vertical-align: baseline;
}
#edity-header big {
	font-size: 19px;
	line-height: 1;
	margin-right: 5px;
}
#edity-header span {
	color: #aaa;
}

#edity-menu {
	clear: both;
	list-style: none;
	margin: 0;
	padding: 0;
}
#edity-menu li {
	cursor: pointer;
	margin: 0;
	padding: 10px;
}
#edity-menu li:hover {
	background: #f2f2f2;
}