body {
	background: #f8f8f8;
	margin: 0;
	width: 180px;
}

#edity-header {
	padding: 10px;
}
#edity-header img {
	float: left;
	margin-right: 5px;
}
#edity-header h1 {
	margin: 0;
}
#edity-header span {
	color: #aaa;
}

#edity-menu {
	clear: both;
	list-style: none;
	margin: 0;
	padding: 0;
}
#edity-menu span,
#edity-menu a {
	color: inherit;
	cursor: pointer;
	display: block;
	outline: none;
	padding: 10px;
	text-decoration: none;
}
#edity-menu span:hover,
#edity-menu img:hover,
#edity-menu a:hover {
	background: #f2f2f2;
}
#edity-menu img {
	cursor: pointer;
	float: right;
	padding: 10px;
}